header svg {
    width: 30px;
}

header {
    background-color: #090019;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    width: 4rem;
    border-radius: 50%;
}

.content_header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.content_header span {
    font-size: 36px;
    color: var(--purple);
    font-weight: 600;
    font-family: var(--font-secondary);
}

.content_header svg {
    width: 40px;
    color: var(--white);
}

.nav_mobile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    height: 0;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.nav_mobile.active {
    height: auto;
    opacity: 1;
    transition: all .3s ease-in-out;
    padding: 2rem 0;
}

.links_mobileNav {
    font-size: 16px;
    font-family: var(--font-text);
    color: var(--white);
    display: none;
    align-items: center;
    gap: .5rem;
}

.links_mobileNav.show {
    display: flex;
}

.nav_mobile svg {
    width: 24px;
}

.nav_desktop{
    display: none;
}

.nav_desktop a{
    transition: all .3s;
}

.nav_desktop a:hover{
    opacity: .7;
}

@media (min-width: 1024px){
    .btn_menu{
        display: none;
    }
    .nav_mobile{
        display: none;
    }
    .nav_desktop{
        display: flex;
        gap: 4rem;
        font-size: 16px;
    }
    .content_header{
        align-items: center;
    }
}

@media (min-width: 1444px){
    .content_header{
        width: 80%;
    }
}

