#home {
    margin-top: 8rem;
}

svg {
    width: 24px;
}

.presentation_container {
    width: 90%;
    margin: 3rem auto 6rem;
    background-image: url(/src/assets/my_pic.jpg), linear-gradient(120deg, #000000b0, #000000b0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    padding: 2rem;
    border-radius: 10px;
}

.about_title {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.about_title span {
    font-family: var(--font-secondary);
    font-weight: 400;
    color: var(--white);
    font-size: 16px;
}

.about_title svg {
    color: var(--purple2);
    width: 22px;
}

.who_am_i {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 1rem 0 3rem;
}

.who_am_i h1,
.title_mission h2 {
    color: var(--white);
    font-size: 20px;
}

.who_am_i p {
    font-size: 14px;
    color: var(--white);
}

.title_mission {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.title_mission svg {
    color: var(--purple2);
    width: 22px;
}

.my_mission span {
    color: var(--purple2);
    font-size: 14px;
    font-family: var(--font-text);
}

.my_mission {
    padding: 1rem;
    background-color: #32323279;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.my_mission p {
    font-size: 14px;
}

.about_me {
    width: 90%;
    margin: 0 auto 6rem;
}

.about_me h2 {
    font-size: 30px;
}

.about_me p {
    font-size: 14px;
}

.links_container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.link_github {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: var(--purple);
    transition: all .3s;
}

.link_github:hover{
    opacity: .8;
}

.link_github svg {
    fill: #fff;
}

.link_contact {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    /* border: 1px solid var(--purple); */
    /* box-shadow: 0px 0px 3px var(--purple); */
    background-color: #2C2C2C;
    transition: all .3s;
}

.link_contact:hover{
    opacity: .7;
}

.link_contact .plane {
    transform: rotate(-40deg);
}

.link_svg {
    width: 16px;
}

.my_studies {
    width: 90%;
    margin: 0 auto 6rem;
    /* border: 1px solid #cecece; */
    box-shadow: 0px 0px 5px 1px #3b3b3b4d;
    border-radius: 10px;
    padding: 1rem;
    background-color: #00000042;
}

.studies_title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.studies_title h3 {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 20px;
    font-family: var(--font-secondary);
    font-weight: 500;
}

.studies_title h3 svg {
    background-color: var(--purple);
    width: 30px;
    border-radius: 5px;
    padding: .2rem;
}

.studies_title p {
    font-size: 14px;
}

.dl_cv {
    padding: .5rem 1rem;
    border: 1px solid #ffffff7c;
    width: fit-content;
    border-radius: 5rem;
}

.studies_list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.box {
    background-color: #32323285;
    /* border: 1px solid var(--grey); */
    box-shadow: 0px 0px 5px 1px #cecece4d;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.studie_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.studie_title svg {
    width: 20px;
    color: var(--purple2);
}

.studie_title span {
    font-family: var(--font-text);
    color: var(--purple2);
    font-size: 12px;
}

.studie_title h4 {
    font-family: var(--font-text);
    color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.box p {
    font-size: 14px;
    color: var(--grey);
}

.university {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--purple2);
}

.university svg {
    width: 16px;
}

.proximamente {
    color: var(--purple);
    font-family: var(--font-secondary);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--purple);
}

@media (min-width: 1024px) {
    .about_presentatio_container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 90%;
        margin: 0 auto 6rem;
        gap: 3rem;
        padding-top: 4rem;
    }

    .presentation_container {
        width: 50%;
        margin: 0;
    }

    .about_me {
        width: 50%;
        margin: 0;
    }

    .my_studies{
        padding: 3rem;
    }
}

@media (min-width: 1444px) {
    .about_presentatio_container {
        width: 80%;
    }
    .my_studies {
        width: 80%;
    }
}